{% load thumbnail %}
{% load static %}
<div class="modal-header content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="model-label">Characters</h4>
</div>
<div class="modal-body detail-modal content">
    <div id="characterlist">
        {% for character in characters %}
            <div id="{{ character.id }}" class="panel panel-default character" data-name="{{ character.name }}">
                {% thumbnail character.img "400" crop="noop" as im %}
                    <div class="character-container">
                        <div class="panel-body">
                            <img src="{{ im.url }}" class="img-responsive center-block" alt="character.name">
                        </div>
                        <div class="panel-footer text-center">{{ character.name }}</div>
                    </div>
                {% endthumbnail %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="modal-footer content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <button class="btn btn-default btn-block" type="button" id="addcharacter" onclick="uploadChar(this)">
                    Upload New Character
                </button>
            </div>
        </div>
    </div>
</div>
