{% extends "Base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load thumbnail %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 well col-md-offset-1">
                <div class="col-md-12">
                    <div id="characterlist">
                        {% for character in characters %}
                            <div id="{{ character.id }}" class="panel panel-default character"
                                 data-name="{{ character.name }}">
                                {% thumbnail character.img "400" crop="noop" as im %}
                                    <div class="character-container">
                                        <div class="panel-body">
                                            <img src="{{ im.url }}" class="img-responsive center-block"
                                                 alt="character.name">
                                        </div>
                                        <div class="panel-footer text-center">{{ character.name }}</div>
                                    </div>
                                {% endthumbnail %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <a class="btn btn-default center-block" onclick="uploadChar(this)" data-full="true">Add</a>
                </div>
            </div>
        </div>
    </div>
        {% include 'Characters/detailform.html' %}
        <script type="application/javascript">
            $(document).ready(function () {
                registerCharEvents()
            });
        </script>
{% endblock %}