<div class="col-xs-12 col-s-12 col-md-2 col-l-2">
    <div class="col-md-12 well">
        <div class="height-600">
            <label class="control-label" for="characterlist">Characters</label>

            <div class="scrollbox" style="overflow: auto;" id="characterlist">
            </div>
            <div>
                <br/>
                <button class="btn btn-default btn-block" type="button" id="addcharacterbutton"
                        title="Upload Character">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>