{% load django_markdown %}
<input id="detail_id" type="hidden" value="{% url 'Coms:Ajax:DetailView' commission.id %}" class="content"/>
<div class="modal-header content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="model-label-{{ commission.id }}">Commission</h4>
</div>
<div class="modal-body detail-modal content">
    <div class="container-fluid">
        <div class="row">
            {% if commission %}
                <div class="col-md-4">
                    <div class="col-md-12 well">
                        <div class="form-group">
                            <label class="control-label" for="user-{{ commission.id }}">
                                Username
                            </label>
                            <br/>
                                                <span id="user-{{ commission.id }}">
                                                    {{ commission.com.user.username }}
                                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date-{{ commission.id }}">
                                Date submitted
                            </label>
                            <br/>
                            {% if historical %}
                                <div class="btn-group btn-group-xs" role="group" aria-label="Date Selector">
                                    {% if historical.previous %}
                                        <button type="button" class="btn btn-default action-btn"
                                                title="Previous by Date"
                                                id="date-" data-target="detail-content"
                                                data-url="{% url 'Coms:Ajax:DetailView' historical.previous.id %}">
                                            <
                                        </button>
                                        <button type="button" class="btn btn-default action-btn" title="Oldest"
                                                id="date--"
                                                data-target="detail-content"
                                                data-url="{% url 'Coms:Ajax:DetailView' historical.first.id %}">
                                            <<
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-default" disabled><<</button>
                                        <button type="button" class="btn btn-default" disabled><</button>
                                    {% endif %}
                                    <button type="button" class="btn btn-default" title="Submitted Date" disabled>
                                        {{ commission.date|date:'Y/M/d h:iA' }}
                                    </button>
                                    {% if historical.next %}
                                        <button type="button" class="btn btn-default action-btn" title="Newest"
                                                id="dateplusplus"
                                                data-target="detail-content"
                                                data-url="{% url 'Coms:Ajax:DetailView' historical.last.id %}">
                                            >>
                                        </button>
                                        <button type="button" class="btn btn-default action-btn" title="Next by Date"
                                                id="dateplus"
                                                data-target="detail-content"
                                                data-url="{% url 'Coms:Ajax:DetailView' historical.next.id %}">
                                            >
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-default" disabled>>></button>
                                        <button type="button" class="btn btn-default" disabled>></button>
                                    {% endif %}
                                </div>
                            {% else %}
                                <span id="date-{{ commission.id }}">
                                                    {{ commission.date }}
                                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="type-{{ commission.id }}">
                                Type
                            </label>
                            <br/>
                                                <span id="type-{{ commission.id }}">
                                                    {{ commission.type }}
                                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="size-{{ commission.id }}">
                                Size
                            </label>
                            <br/>
                                                <span id="size-{{ commission.id }}">
                                                    {{ commission.size }}
                                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="characters-{{ commission.id }}">
                                Characters
                            </label>
                            <br/>
                                                <span id="characters-{{ commission.id }}">
                                                    {{ commission.number_of_Characters }}
                                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"
                                   for="extras-{{ commission.id }}">
                                Extras
                            </label>
                            <br/>
                            <ul id="extras-{{ commission.id }}">
                                {% for item in commission.extras.all %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="primarycontact-{{ commission.id }}">
                                Primary Contact
                            </label>
                            <br/>
                            {% if primary %}
                                <a href="mailto:{{ primary }}">{{ primary }}</a>
                            {% else %}
                                <ul id="primarycontact-{{ commission.id }}">
                                    {% for item in commission.contacts.all %}
                                        {% if item.primary %}
                                            <li>
                                                {{ item }}
                                                <ul>
                                                    <li>
                                                        <a href="{{ item.get_profile }}" target="_blank">
                                                            View Profile
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ item.get_message }}" target="_blank">
                                                            Send Message
                                                        </a>
                                                    </li>
                                                </ul>
                                                <br/>
                                            </li>
                                        {% endif %}
                                    {% empty %}
                                        <li>{{ commission.com.user.username }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        {% if commission.contacts.all|length > 1 or primary%}
                            <div class="form-group">
                                <label class="control-label" for="contacts-{{ commission.id }}">
                                    Additional Contacts
                                </label>
                                <br/>
                                <ul id="contacts-{{ commission.id }}">
                                    {% for item in commission.contacts.all %}
                                        {% if not item.primary %}
                                            <li>
                                                {{ item }}
                                                <ul>
                                                    <li>
                                                        <a href="{{ item.get_profile }}" target="_blank">
                                                            View Profile
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ item.get_message }}" target="_blank">
                                                            Send Message
                                                        </a>
                                                    </li>
                                                </ul>
                                                <br/>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label" for="paypal-{{ commission.id }}">
                                Paypal
                            </label>
                            <br/>
                                                <span id="paypal-{{ commission.id }}">
                                                    {{ commission.paypal }}
                                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="status">
                                Status
                            </label>
                            {% if request.user.is_staff %}
                                <button type="button" class="btn btn-default btn-xs detail-popover"
                                        data-url="{% url 'Coms:Ajax:CommissionStatus' commission.com.id %}"
                                        data-type="status" id="status-change">
                                <i class="fa fa-cog" style="pointer-events: none"></i>
                                </button>
                            {% endif %}
                            <br/>
                                                <span id="status">
                                                    {{ commission.com.get_status_display }}
                                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="paymentstatus">
                                Payment Status
                            </label>
                            {% if request.user.is_staff %}
                                <button type="button" class="btn btn-default btn-xs detail-popover"
                                        data-url="{% url 'Coms:Ajax:CommissionPayment' commission.com.id %}"
                                        data-type="payment" id="payment-change">
                                <i class="fa fa-cog" style="pointer-events: none"></i>
                                </button>
                            {% endif %}
                            <br/>
                                                <span id="paymentstatus">
                                                    {{ commission.com.get_paid_display }}
                                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12 well">
                        <div style="word-wrap: break-word;">
                            {{ commission.details|markdown_safe }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-4">
                    <h3>Failed to load Commission Details</h3>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal-footer content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                {% if queue %}
                    <div class="btn-group" role="group" aria-label="...">
                        {% if queue.previous %}
                            <button type="button" class="btn btn-default action-btn" title="Previous" id="queue-"
                                    data-target="detail-content"
                                    data-url="{% url 'Coms:Ajax:DetailView' queue.previous.id %}">
                                <
                            </button>
                            <button type="button" class="btn btn-default action-btn" title="Last" id="queue--"
                                    data-target="detail-content"
                                    data-url="{% url 'Coms:Ajax:DetailView' queue.last.id %}">
                                <<
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" disabled><<</button>
                            <button type="button" class="btn btn-default" disabled><</button>
                        {% endif %}
                        <button type="button" class="btn btn-default" disabled>Queue</button>
                        {% if queue.next %}
                            <button type="button" class="btn btn-default action-btn" title="First" id="queueplusplus"
                                    data-target="detail-content"
                                    data-url="{% url 'Coms:Ajax:DetailView' queue.first.id %}">
                                >>
                            </button>
                            <button type="button" class="btn btn-default action-btn" title="Next" id="queueplus"
                                    data-target="detail-content"
                                    data-url="{% url 'Coms:Ajax:DetailView' queue.next.id %}">
                                >
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" disabled>>></button>
                            <button type="button" class="btn btn-default" disabled>></button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-1 col-md-offset-3">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>