{% load rest_framework %}
<div class="modal-dialog modal-md">
    <div class="modal-content" id="option-content">

        <div class="modal-header content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{ serializer.name.value }}</h4>
        </div>
        <form method="post" class="form" id="optionform" data-url="{{ request.path }}" data-id="{{ data.id }}">
            <div class="modal-body content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {% csrf_token %}
                            {% render_form serializer %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="form-control" name="submit"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>