<td class="content">
    {% if object.details_submitted %}
        <button type="button" class="btn btn-default modal-action btn-block"
                data-target="detail-content"
                data-url="{% url 'Coms:Ajax:DetailView' object.latest_detail %}"
                id="detail-{{ object.latest_detail }}">{{ object.user }}</button>
    {% else %}
        <p class="text-center">{{ object.user }}</p>
    {% endif %}
</td>
<td class="content">{{ object.date }}</td>
<td class="content" data-order="{{ object.details_submitted }}">
    <i class="fa fa-{{ object.details_submitted|yesno:"check,close" }}"></i>
</td>
<td class="content" data-order="{{ object.status }}">{{ object.get_status_display }}</td>
<td class="content" data-order="{{ object.paid }}">{{ object.get_paid_display }}</td>
<td class="content" data-order="{{ object.locked }}">
    <button type="button" class="btn btn-default action-btn btn-block"
            data-id="{{ object.id }}" data-target="com-{{ object.id }}"
            data-url="{% url 'Admin:Queue:LockCommission' object.id %}"
            id="lock-button-{{ object.id }}">
        <i class="fa fa-{{ object.locked|yesno:"lock,unlock" }}"
           style="pointer-events: none"></i>
    </button>
</td>