{% extends "ComAdmin/AdminBase.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center well">
                <table class="table table-compact table-bordered table-hover datatable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td><a href="{{ object.get_absolute_url }}">{{object.name}}</a></td>
                            <td>{{ object.price }}</td>
                            <td>{{ object.description|truncatewords:5 }}</td>
                            <td><a href="{{ object.get_absolute_url }}delete/"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    {% empty %}
                        <tr>
                        <td colspan="4">Nothing Here!</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
                <a href="create">
                    <button type="button" class="btn btn-default">Add</button>
                </a>
            </div>
        </div>
    </div>


{% endblock %}