{% extends "ComAdmin/AdminBase.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2">
                <div class="col-md-12 well">
                    <dl>
                        <dt>Name</dt>
                        <dd>{{ queue.name }}</dd>
                        <dt>Date published</dt>
                        <dd>{{ queue.date }}</dd>
                        <dt>Types</dt>
                        {% for item in queue.types.all %}
                            <dd>{{ item }}</dd>
                        {% endfor %}
                        <dt>Sizes</dt>
                        {% for item in queue.sizes.all %}
                            <dd>{{ item }}</dd>
                        {% endfor %}
                        <dt>Extras</dt>
                        {% for item in queue.extras.all %}
                            <dd>{{ item }}</dd>
                        {% endfor %}
                        <dt>Max characters</dt>
                        <dd id="queue-characters">{{ queue.max_characters }}</dd>
                        <dt>Max commissions in queue</dt>
                        <dd>{{ queue.max_commissions_in_queue }}</dd>
                        <dt>Max commissions per person</dt>
                        <dd>{{ queue.max_commissions_per_person }}</dd>
                        <dt>Submission Expiry Time</dt>
                        <dd>{{ queue.expire }} minutes</dd>
                        <dt>Start time</dt>
                        <dd id="start">{{ queue.start|date:"N d, Y" }} at {{ queue.start|time:"P" }}</dd>
                        {% if queue.end %}
                            <dt>Close time</dt>
                            <dd>{{ queue.end|date:"N d, Y" }} at {{ queue.end|time:"P" }}</dd>
                        {% endif %}
                        <dt>Hidden</dt>
                        <dd>{{ queue.hidden|yesno|title }}</dd>
                        <dt>Closed</dt>
                        <dd>{{ queue.ended|yesno|title }}</dd>
                        <dt>Edit Queue</dt>
                        <dd>
                            <button type="button" class="btn btn-default" onclick="edit_queue()">Edit</button>
                        </dd>
                        <dt>Lock Queue</dt>
                        <dd>
                            <div class="btn-group">
                                <a class="btn btn-default" href="{% url 'Admin:Queue:LockQueue' queue.id True %}">
                                    <i class="fa fa-lock"></i>
                                </a>
                                <button type="button" class="btn btn-default" disabled>
                                    &nbsp;
                                </button>
                                <a class="btn btn-default" href="{% url 'Admin:Queue:LockQueue' queue.id False %}">
                                    <i class="fa fa-unlock"></i>
                                </a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-10">
                <div class="col-md-12 well">
                    <table class="table table-compact table-bordered dt-responsive" id="commissiontable"
                           data-src="/api/commissions/?queue={{ queue.id }}&amp;format=json">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-detail" tabindex="-1" role="dialog" id="option-modal" data-src="/details/ajax/detail/">
    </div>
    <script>
        function edit_queue() {
            var modal = $('#option-modal');
            var url = '/api/queue/' + "{{ queue.id }}";
            modal.removeData();
            modal.load(url + '/?format=form');
            $("#optionform").attr('data-url', url).attr('data-id', "{{ queue.id }}");
            modal.modal('show');
        }
        //noinspection JSUnusedLocalSymbols
        $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex, object) {
                    if (!$('#showexpired').is(":checked")) {
                        return !object['expired'];
                    }
                    else {
                        return true
                    }
                });
        $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex, object) {
                    if ($('#hidefinished').is(":checked")) {
                        if (object['status'] == 4) {
                            return false
                        }
                    }
                    return true
                });

        $(document).ready(function () {
            var src = $('#commissiontable').data()['src'];
            var table;
            $.ajax({
                'url': src,
                'method': 'OPTIONS'
            }).done(function (data) {
                table = create_table('commissiontable', src, data['table'])
            });


        });
        $(document).on('init.dt', function () {
            var toolbar = document.createElement("div");
            toolbar.setAttribute('class', 'row');
            var expired = document.createElement('div');
            expired.setAttribute('class', 'col-sm-4 dataTables_length');
            expired.innerHTML = '<label>Show Expired <input class="form-control input-sm" type="checkbox" id="showexpired"/></label>';
            toolbar.appendChild(expired);
            var status = document.createElement('div');
            status.setAttribute('class', 'col-sm-4 dataTables_length');
            status.innerHTML = '<label>Hide Finished <input class="form-control input-sm" type="checkbox" id="hidefinished"/></label>';
            toolbar.appendChild(status);
            $("div.toolbar").html(toolbar);
            $('#showexpired').click(function () {
                $('#commissiontable').DataTable().draw();
            });
            $('#hidefinished').click(function () {
                $('#commissiontable').DataTable().draw();
            });
        })
    </script>

{% endblock %}