{% if primary %}
    <dt>Primary Contact</dt>
    <dd>{{ primary.site }}: {{ primary.username }}
        <a href="{{ primary.profile }}" target="_blank"><i class="fa fa-user"></i></a>
        <a href="{{ primary.message }}" target="_blank"><i class="fa fa-envelope"></i></a>
    </dd>
{% endif %}
{% if contacts %}
    <dt>Additional Contacts</dt>
    {% for item in contacts %}
        <dd>
            {{ item.site }}: {{ item.username }}
            <a href="{{ item.profile }}" target="_blank"><i class="fa fa-user"></i></a>
            <a href="{{ item.message }}" target="_blank"><i class="fa fa-envelope"></i></a>
        </dd>
    {% endfor %}
{% endif %}