<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-center">
            Files
            <span class="badge" style="float:right">
                <a id="fileupload" href="#" onclick="CommissionFileUploadPopover(this)" style="color: white">
                    <i class="fa fa-upload"></i>
                </a>
            </span>
        </h3>
    </div>
    <div id="files" class="panel-collapse collapse in" style="max-height: 30vh;overflow: auto">
        <div class="list-group">
            {% for item in files %}
                {% if item.user_deleted and not request.user.is_staff or item.deleted %}
                    <div class="list-group-item" style="text-decoration: line-through">
                        {{ item.get_type_display }}:{{ item.imgname }}
                        {% if item.note %}
                            <br/>
                            <p><i>{{ item.note }}</i></p>
                        {% endif %}
                        <br/>
                        Uploaded by {{ item.user }} on {{ item.date }}
                    </div>
                {% else %}
                    {% if item.user_deleted %}
                        <div class="list-group-item" style="text-decoration: line-through">
                    {% else %}
                        <div class="list-group-item">
                    {% endif %}
                {% if not item.user_deleted and not request.user.is_staff or not item.deleted %}
                    <span class="badge">
                <a href="/media/{{ item.img }}" target="_blank" style="color: white;">
                    <i class="fa fa-download"></i>
                </a>
            </span>
                {% endif %}
                {% if not item.user_deleted and not request.user.is_staff or not item.deleted %}
                    <span class="badge">
                <a href="#" onclick="CommissionFileDeletePopover(this)" style="color: white" data-id="{{ item.id }}">
                    <i class="fa fa-trash"></i>
                </a>
            </span>
                {% endif %}
                <a href="/media/{{ item.img }}" class="gallery">
                    {{ item.imgname }}
                </a>
                {% if item.note %}
                    <br/>
                    <p><i>{{ item.note }}</i></p>
                {% endif %}
                <br/>
                Uploaded by {{ item.user }} on {{ item.date }}
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
<div id="CommissionFileUpload" style="display: none">
    <form id="commissionfile" action="/api/commissionfiles/">
        {% load bootstrap3 %}
        <input name="commission" type="hidden" value="{{ commission.id }}">
        {% bootstrap_form fileform %}
        <input type="submit" class="form-control">
    </form>
</div>


<div id="CommissionFileDelete" style="display: none">
    <div class="alert alert-danger" role="alert">
        <p>Are you sure you want to delete?</p>
    </div>

    <div class="btn-group" role="group">
        <a id="delete" href="#" class="btn btn-default btn-danger" onclick="CommissionFileDelete(this)">Yes</a>
        <a href="#" class="btn btn-default" onclick="$('.popover').each(function(index, button) {
        $(button).popover('destroy')})">No</a>
    </div>

</div>