<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-2" style="height: 75vh">
            <div class="option-group">
                <i class="material-icons">folder</i><span>Queue</span><br/>
                <ul class="queue_table_ul">
                    <li>{{ commission.queue_name }}</li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">account_circle</i><span>User</span><br/>
                <ul class="queue_table_ul">
                    <li>{{ commission.user }}</li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">date_range</i><span>Date</span><br/>
                <ul class="queue_table_ul">
                    <li>{{ commission.date |amUtc |amLocal| amDateFormat:'YYYY.MM.DD HH:mm' }}</li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">toc</i><span>Type</span><br/>
                <ul class="queue_table_ul"
                    editable-select="commission.type"
                    buttons="no"
                    e-ng-options="t as t.name for t in queue.types">
                    <li>{{ commission.type.name }} <i class="material-icons md-18">edit</i></li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">photo_size_select_large</i><span>Size</span><br/>
                <ul class="queue_table_ul"
                    editable-select="commission.size"
                    buttons="no"
                    e-ng-options="s as s.name for s in queue.sizes">
                    <li>{{ commission.size.name }} <i class="material-icons md-18">edit</i></li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">assignment</i><span>Extras</span><br/>
                <ul class="queue_table_ul" editable-checklist="commission.extras"
                    e-ng-options="e as e.name for e in queue.extras"
                    buttons="no"
                    blur="submit"
                    e-style="checkbox">
                    <li ng-repeat="extra in commission.extras">
                        <span>{{ extra.name }} <i class="material-icons md-18">edit</i></span>
                    </li>
                    <li ng-hide="commission.extras.length > 0"><i class="material-icons md-18">edit</i></li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">people</i><span>Characters</span><br/>
                <ul class="queue_table_ul"
                    editable-number="commission.characters"
                    e-min="1"
                    buttons="no"
                    blur="submit"
                    e-max="{{ queue.max_characters }}">
                    <li>{{ commission.characters }} <i class="material-icons md-18">edit</i></li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">monetization_on</i><span>Payment Status</span><br/>
                <ul class="queue_table_ul"
                    editable-select="commission.paid"
                    e-ng-options="p as p[1] for p in paid_values"
                    buttons="no"
                    edit-disabled="!user.is_staff">
                    <li>
                        {{ commission.paid[1] }}
                        <i class="material-icons md-18" ng-hide="!user.is_staff">
                            edit
                        </i>
                    </li>
                </ul>
            </div>
            <div class="option-group">
                <i class="material-icons">hourglass_empty</i><span>Status</span><br/>
                <ul class="queue_table_ul"
                    editable-select="commission.status"
                    e-ng-options="s as s[1] for s in status_values"
                    buttons="no"
                    edit-disabled="!user.is_staff">
                    <li>
                        {{ commission.status[1] }}
                        <i class="material-icons md-18" ng-hide="!user.is_staff">
                            edit
                        </i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-10" ng-hide="!commission">
            <div class="panel panel-default" ng-repeat="message in commission.message_set| orderBy: 'date'"
                 ng-class="{'message-commissioner': message.user == commission.user}">
                <div class="panel-body">
                    <div class="message-user">
                        <i class="material-icons md-18">account_circle</i>
                        {{ message.user }} replied at
                        {{ message.date |amUtc |amLocal| amDateFormat:'YYYY.MM.DD HH:mm' }}
                    </div>
                    <status-changes ng-hide="message.type !=1" changes="message.status_changes"></status-changes>
                    <div ng-bind-html="message.message"></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div text-angular ng-model="commission.message.message"></div>
                    <button class="form-control" ng-click="update()">Reply</button>
                </div>
            </div>
        </div>
    </div>
</div>
