<!-- TODO: MAKE THIS LESS SHITTY -->
<div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3>Login</h3>
                <formly-form model="vm.login_form" fields="vm.login_fields" form="vm.forms.login_form">
                    <button type="submit" ng-disabled="vm.forms.login_form.$invalid" ng-click="vm.login()"
                            class="btn btn-primary submit-button">
                        Login
                    </button>
                </formly-form>
            </div>
            <div class="col-md-5 well">
                <h3>or Register</h3>
                <formly-form model="vm.register_form" fields="vm.register_fields" form="vm.forms.register_form">
                    <button type="submit" ng-disabled="vm.forms.register_form.$invalid" ng-click="vm.register()"
                            class="btn btn-primary submit-button">
                        Register
                    </button>
                </formly-form>
            </div>
        </div>
    </div>
</div>