<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <title>{% block title %}Default title{% endblock %}</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <link rel="stylesheet"
          href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css"/>
    <script src="{% static 'Coms/ajax.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base.css' %}"/>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load django_markdown %}

    {% block scripts %}
    {% endblock %}

</head>
<body>
{% load navigation %}
{% navbar %}
{% block content %} Blank {% endblock %}
{% load tz_detect %}
{% tz_detect %}
<nav class="navbar navbar-default navbar-fixed-bottom">
    {% load tz %}
    {% get_current_timezone as TIME_ZONE %}
    <span class="hidden">Server thinks your Timezone is  {{ TIME_ZONE }}</span>
    <p class="navbar-text">Server thinks your time is {% now "DATETIME_FORMAT" %}</p>
    {% timezone None %}
    <span class="hidden">UTC time is {% now "DATETIME_FORMAT" %}</span>
    {% endtimezone %}
</nav>
</body>
</html>

