{% extends "Base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load django_markdown %}
{% block title %} Commission Details for {{ Commission.user }} {{ Commission.date }} {% endblock %}
{% block content %}
    <div class="container-fluid">
        <form method="post" class="form-horizontal" action="{% url 'Coms:Detail:View' Commission.id %} ">
            <div class="row">
                <div class="col-xs-12 col-s-12 col-md-2 col-l-2 col-md-offset-2">
                    <div class="col-md-12 well">
                        <div class="height-600">
                            {% csrf_token %}
                            {% if Commission.queue.types.all|length > 1 %}
                                {% bootstrap_field form.type %}
                            {% else %}
                                <div class="form-group">
                                    <label class="control-label" for="id_type">Type</label>
                                    <p class="form-control-static">{{ Commission.queue.types.first }}</p>
                                    <input type="hidden" id="id_type" name="type" value="1" />
                                </div>
                            {% endif %}
                            {% if Commission.queue.sizes.all|length > 1 %}
                                {% bootstrap_field form.size %}
                            {% else %}
                                <div class="form-group">
                                    <label class="control-label" for="id_size">Size</label>
                                    <p class="form-control-static">{{ Commission.queue.sizes.first }}</p>
                                    <input type="hidden" id="id_size" name="size" value="1" />
                                </div>
                            {% endif %}
                            {% if Commission.queue.extras.all %}
                                {% bootstrap_field form.extras %}
                            {% endif %}
                            {% if Commission.queue.max_number_of_Characters > 1 %}
                                {% bootstrap_field form.number_of_Characters %}
                            {% else %}
                                <input type="hidden" id="id_number_of_Characters" name="number_of_Characters" value="1" />
                            {% endif %}
                            {% bootstrap_field form.paypal %}
                            <div class="form-group">
                                <input class="" type="checkbox" id="paypalisemail" onchange="paypalemail()"/>
                                <label class="control-label" for="paypalisemail">My paypal is the same as my
                                    email</label>
                                <input id="email" type="hidden" value="{{ request.user.email }}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-s-12 col-md-2 col-l-2">
                    <div class="col-md-12 well">
                        <div class="height-600">
                            <div class="scrollbox">
                                {{ contactformset.management_form }}
                                {% for contact in contactformset %}
                                    {% bootstrap_form contact %}
                                    <hr style="margin:0;"/>
                                {% endfor %}
                                <div id="form_set">
                                </div>
                            </div>
                            <input class="form-control" type="button" value="Add Another Contact" id="add_more">

                            <div class="form-group">
                                <label for="PC">Primary Contact:</label>
                                <select class="form-control" id="PC" name="PC" onblur="setContact()">
                                    <option value="">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-s-12 col-md-4 col-l-4">
                    <div class="col-md-12 well">
                        <div class="height-600">
                            {% bootstrap_field form.description %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center" style="float:none;display:block;margin: auto;padding:10px">
                    {% if not Commission.locked %}
                        <input class="form-control" type="submit" name="submit" id="submit"/>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">

        function start() {
            getOption();
            paypalemail();
            {% if Commission.locked %}
                disableForm();
            {% endif %}
        }

        window.onload = start();
        $('#add_more').click(function () {
            var totalform = $('#id_form-TOTAL_FORMS');
            var form_idx = totalform.val();
            if (form_idx <= 4) {
                $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
                totalform.val(parseInt(form_idx) + 1);
            }

        });

        $(':checkbox').click(getOption);

    </script>
    <div id="empty_form" style="display:none;height: 0">
        {% bootstrap_form contactformset.empty_form %}
    </div>
    {% load hooks_tags %}
    {% hook 'detail_form' %}

{% endblock %}