{% extends "Base.html" %}
{% load bootstrap3 %}
{% block title %} Commission Entry Form: {{ queue.name }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if object.expired %}
                {% if object.queue.is_full %}
                    <div class="col-xs-12 col-s-12 col-md-4 col-md-offset-4 well text-center height-200">
                        <h5>
                            Sorry, Your slot expired and Commissions are currently full.
                            <br/>
                            {% if queue.expire == 0 %}
                                Better Luck next time
                            {% else %}
                                There is a chance that a spot may free up, check back later
                            {% endif %}
                        </h5>

                    </div>
                {% elif object.queue.ended %}
                    <div class="col-xs-12 col-s-12 col-md-4 col-md-offset-4 well text-center height-200">
                        <h5>
                            Sorry, Your slot expired, and the Queue has ended
                            <br/>
                            Better Luck next time
                        </h5>
                    </div>
                {% else %}
                    <div class="col-xs-12 col-s-12 col-md-4 col-md-offset-4 well text-center height-200">
                        <h5>
                            Your slot expired, but the queue is still open.
                            If you hurry you might still manage to get a slot.
                            <br/>
                            <a class="btn btn-default" href="{% url 'Coms:Detail:View' object.id %}">Back to the
                                form</a>
                        </h5>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-xs-12 col-s-12 col-md-4 col-md-offset-4 well text-center height-200">
                    <h5>
                        You don't belong here! Go back and fill out the form, you still have time.
                        <br/>
                        <a class="btn btn-default" href="{% url 'Coms:Detail:View' object.id %}">Back to the form</a>
                    </h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}