<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'Coms:index' %}">Username</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    {% for menu, items in urls.items %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{{ menu }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for item in items %}
                                    <li role="presentation"><a href="{{ item.1 }}">{{ item.0 }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><p class="navbar-text">Welcome,
                        <strong>{% firstof user.get_short_name user.get_username %}</strong>
                    </p></li>
                    {% if user.has_usable_password %}
                        <li><a href="{% url 'Auth:password_change' %}">Change password</a></li>
                    {% endif %}
                    <li><a href="{% url 'Auth:logout' %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'Auth:register' %}?next={{ request.path }}">Register</a></li>
                    <li><a href="{% url 'Auth:login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>