{% extends "ComAdmin/AdminBase.html" %}

{% block title %}
    Queues
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center well">
                <table class="table table-compact table-bordered table-hover datatable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Max Commissions</th>
                        <th>Submissions</th>
                        <th>Open</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
                            <td>{{ object.date }}</td>
                            <td>{{ object.max_commissions_in_queue }}</td>
                            <td>{{ object.submission_count }}</td>
                            <td data-order="{{ object.ended }}">
                                <i class="fa fa-{{ object.ended|yesno:"close,check" }}"></i>
                            </td>
                            <td><a href="{% url 'Coms:Enter:View' object.id %}"><i class="fa fa-link"></i></a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10">Nothing Here :(</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
                <a href="{% url 'Admin:Queue:Create' %}" class="btn btn-default">Add Queue</a>
            </div>
        </div>
    </div>

{% endblock %}