{% extends "ComAdmin/AdminBase.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="col-md-12 well">
                    <div class="form-group">
                        <label class="control-label" for="queue-name">
                            Name
                        </label>
                        <br/>
                        <span id="queue-name">{{ queue.name }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="queue-date">
                            Date published
                        </label>
                        <br/>
                        <span id="queue-date">{{ queue.date }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="queue-type">
                            Types
                        </label>
                        <ul id="queue-type" class="list-unstyled">
                            {% for item in queue.types.all %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="queue-size">
                            Sizes
                        </label>
                        <ul id="queue-size" class="list-unstyled">
                            {% for item in queue.sizes.all %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="queue-characters">
                            Max characters
                        </label>
                        <br/>
                        <span id="queue-characters">{{ queue.max_characters }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="queue-cost">
                            Character cost
                        </label>
                        <br/>
                        <span id="queue-cost">{{ queue.character_cost }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="queue-extras">
                            Extras
                        </label>
                        <ul id="queue-extras" class="list-unstyled">
                            {% for item in queue.extras.all %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="queue-max">
                            Max commissions in queue
                        </label>
                        <br/>
                        <span id="queue-max">{{ queue.max_commissions_in_queue }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="queue-max-per">
                            Max commissions per person
                        </label>
                        <br/>
                        <span id="queue-max-per">{{ queue.max_commissions_per_person }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="expire">
                            Submission Expiry Time
                        </label>
                        <br/>
                        <span id="expire">{{ queue.expire }} minutes</span>
                    </div>
                    {% if queue.end %}
                        <div class="form-group">
                            <label class="control-label" for="end">
                                Closes on
                            </label>
                            <br/>
                            <span id="queue-max-per">{{ queue.end|date:"N, d, Y" }} at {{ queue.end|time:"P" }}</span>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="control-label" for="hidden">
                            Hidden
                        </label>
                        <br/>
                        <span id="hidden">{{ queue.hidden|yesno|title }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="closed">
                            Closed
                        </label>
                        <br/>
                        <span id="closed">{{ queue.ended|yesno|title }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="queue-edit">
                            Edit Queue
                        </label>
                        <br/>
                        <a class="btn btn-default" href="{% url 'Admin:Queue:ModifyQueue' queue.id %}"
                           id="queue-edit">
                            Edit
                        </a>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Lock Queue
                        </label>
                        <br/>

                        <div class="btn-group">
                            <a class="btn btn-default" href="{% url 'Admin:Queue:LockQueue' queue.id %}">
                                <i class="fa fa-lock"></i>
                            </a>
                            <button type="button" class="btn btn-default" disabled>
                                &nbsp;
                            </button>
                            <a class="btn btn-default" href="{% url 'Admin:Queue:UnlockQueue' queue.id %}">
                                <i class="fa fa-unlock"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 ">
                <div class="col-md-12 well">
                    <table class="table table-compact table-bordered table-hover" id="commissiontable">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Submitted</th>
                            <th>Details Submitted</th>
                            <th>Status</th>
                            <th>Paid</th>
                            <th>Locked</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="10">Nothing Here :(</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-detail" tabindex="-1" role="dialog" id="detail-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="detail-content">
            </div>
        </div>
    </div>

    <script>
        function render_name(data, type, full, meta) {
            if (full['details_submitted']) {
                var btn = document.createElement("button");
                btn.className = "btn btn-default modal-action btn-block";
                btn.setAttribute('data-url', "/ajax/detail/" + full['latest_detail']);
                btn.setAttribute('id', "detail-" + full['latest_detail']);
                btn.setAttribute('data-target', 'detail-content');
                btn.appendChild(document.createTextNode(full['user']));
                var wrapper = document.createElement('wrap');
                wrapper.appendChild(btn);
                return wrapper.innerHTML;
            }
            else {
                return '<p class="text-center">' + data + '</p>';
            }
        }
        function render_detail(data, type, full, meta) {
            if (data == true) {
                return '<i class="fa fa-check" style="pointer-events: none;"></i>'
            }
            else {
                return '<i class="fa fa-close" style="pointer-events: none;"></i>'
            }
        }
        function render_lock(data, type, full, meta) {
            var btn = document.createElement("button");
            btn.className = "btn btn-default btn-block lock-button";
            btn.setAttribute('id', "lock-" + full['latest_detail']);
            btn.setAttribute('data-id', full['id']);
            btn.setAttribute('onclick', 'lockcom(this)')
            var icon = document.createElement("i");
            icon.setAttribute('style', 'pointer-events: none;'); //So you can actually click the icon
            if (data == true) {
                icon.className = "fa fa-lock";
            }
            else {
                icon.className = "fa fa-unlock";
            }
            btn.appendChild(icon);
            var wrapper = document.createElement('wrap');
            wrapper.appendChild(btn);
            return wrapper.innerHTML;
        }

        $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex, object) {
                    if (!$('#showexpired').is(":checked")) {
                        return !object['expired'];
                    }
                    else {
                        return true
                    }
                });

        $(document).ready(function () {
            var table = $('#commissiontable')
                    .on('order.dt', function () {
                        register_events();
                    })
                    .on('search.dt', function () {
                        register_events();
                    })
                    .on('page.dt', function () {
                        register_events();
                    })
                    .DataTable({
                        "columnDefs": [{
                            "targets": 0,
                            "data": "user",
                            "render": render_name
                        },
                            {
                                "targets": 2,
                                "data": "details_submitted",
                                "render": render_detail
                            },
                            {
                                "targets": 5,
                                "data": "user",
                                "render": render_lock
                            }
                        ],
                        "sAjaxDataProp": "",
                        "dom": "<'row'<'col-sm-4'l><'col-sm-4 toolbar'><'col-sm-4'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        "aoColumns": [
                            {"mData": "user"},
                            {"mData": "date"},
                            {"mData": "details_submitted"},
                            {"mData": "status_display"},
                            {"mData": "paid_display"},
                            {"mData": "locked"}
                        ],
                        "ajax": '{% url 'Admin:Queue:JsonQueue' queue.id %}?format=json'
                    });
            $("div.toolbar").html('Show Expired <input class="form-control" type="checkbox" id="showexpired"/>');
            $('#showexpired').click(function () {
                table.draw();
            });


        });
    </script>

{% endblock %}